In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Data_Folder/titanic.csv")

In [3]:
print(df.head())
print("-----------------------------------")
print(df.info())
print("-----------------------------------")
print(df.describe())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
-----------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
-----------------------------------
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [14]:
df.columns

Index(['passengerid', 'survived', 'pclass', 'name', 'sex', 'age', 'ticket',
       'fare', 'familysize', 'embarked_Q', 'embarked_S'],
      dtype='object')

In [5]:
df.columns = df.columns.str.strip()
df.columns = df.columns.str.lower()

In [6]:
df = df.drop(columns=['cabin'])

In [7]:
# Filling the numerical gaps
median_age = df['age'].median()
df['age'] = df['age'].fillna(median_age)

In [8]:
# Droping missing values
df = df.dropna()

In [9]:
print(f"Remaining rows:{len(df)}")

Remaining rows:889

Feature engineering to get more insightfull informations

In [10]:
df['familysize'] = df['sibsp'] + df['parch']
df = df.drop(columns=['sibsp','parch'])

Encoding Text to numbers

In [11]:
# 1.Binary Encoding for the sex column
df['sex'] = df['sex'].map({'male':0,'female':1})

In [12]:
# 2.One hot encoding for embarked column
df = pd.get_dummies(df,columns=['embarked'],drop_first=True)

Normalising the data to create a uniform calculation

In [13]:
cols_scale = ['age','fare','familysize']

for col in cols_scale:
    min_val = df[col].min()
    max_val = df[col].max()
    df[col] = (df[col] - min_val) / (max_val - min_val)
print(df.head())

   passengerid  survived  pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                name  sex       age  \
0                            Braund, Mr. Owen Harris    0  0.271174
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    1  0.472229
2                             Heikkinen, Miss. Laina    1  0.321438
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    1  0.434531
4                           Allen, Mr. William Henry    0  0.434531

             ticket      fare  familysize  embarked_Q  embarked_S
0         A/5 21171  0.014151         0.1       False        True
1          PC 17599  0.139136         0.1       False       False
2  STON/O2. 3101282  0.015469         0.0       False        True
3            113803  0.103644         0.1       False        True
4            373450  0.015713         0.0       False        True

In [16]:
features = ['pclass','sex','age','fare','familysize','embarked_Q','embarked_S']
x = df[features].values
y = df['survived'].values

In [20]:
print(f"shape:{x.shape}")
print(f"shape:{y.shape}")
print("Data i")

shape:(889, 7)
shape:(889, 1)

In [19]:
y = y.reshape(-1,1)